<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="terrasoft" type="Terrasoft.Core.AppConfigurationSectionGroup, Terrasoft.Core">
      <section name="sysSettings" type="Terrasoft.Core.SysSettingsConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="secureText" type="Terrasoft.Core.AppSecureTextConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="managers" type="Terrasoft.Core.ManagerProviderConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <sectionGroup name="resources" type="Terrasoft.Common.ResourceConfigurationSectionGroup, Terrasoft.Common">
        <section name="cultures" type="Terrasoft.Common.ResourceCulturesSection, Terrasoft.Common" requirePermission="false" />
        <section name="generalSettings" type="Terrasoft.Common.ResourceGeneralSettingsSection, Terrasoft.Common" requirePermission="false" />
      </sectionGroup>
      <section name="schemaManagers" type="Terrasoft.Core.SchemaManagerProviderConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="storeDataAdapters" type="Terrasoft.Core.Store.StoreAdaptersConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="storeCacheAdapters" type="Terrasoft.Core.Store.StoreAdaptersConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <sectionGroup name="db" type="Terrasoft.Core.DB.DBConfigurationSectionGroup, Terrasoft.Core">
        <section name="general" type="Terrasoft.Core.DB.DBConfigurationSection, Terrasoft.Core" requirePermission="false" />
        <section name="mssql" type="Terrasoft.DB.MSSql.MSSqlConfigurationSection, Terrasoft.DB.MSSql" requirePermission="false" />
        <section name="oracle" type="Terrasoft.DB.Oracle.OracleConfigurationSection, Terrasoft.DB.Oracle" requirePermission="false" />
      </sectionGroup>
      <section name="pageSchemaControlTypes" type="Terrasoft.UI.WebControls.PageSchemaControlTypeConfigurationSection, Terrasoft.UI.WebControls" requirePermission="false" />
      <section name="fileDesignMode" type="Terrasoft.Core.FileDesignModeSection, Terrasoft.Core" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <terrasoft>
    <secureText initializationVector="USAZBGAW" currentKey="GSYAHAGCBDUUADIADKOPAAAW" />
    <resources>
      <cultures>
        <culture name="ru-RU" />
        <culture name="en-US" />
      </cultures>
    </resources>
    <!--<unitTests applicationPath=".\" workspaceName="Default" />
    <dbTypes>
      <dbType name="MSSql" userName="Supervisor" password="Supervisor" />
    </dbTypes>-->
    <managers>
      <manager scope="app" name="DataValueTypeManager" type="Terrasoft.Core.DataValueTypeManager, Terrasoft.Core" />
      <manager scope="app" name="SystemValueManager" type="Terrasoft.Core.SystemValueManager, Terrasoft.Core" />
      <manager scope="app" name="DesignModeValuesProviderManager" type="Terrasoft.Core.DesignModeValuesProviderManager, Terrasoft.Core" />
      <manager scope="app" name="PageSchemaControlTypeManager" type="Terrasoft.UI.WebControls.PageSchemaControlTypeManager, Terrasoft.UI.WebControls" />
      <manager scope="app" name="LicManager" type="Terrasoft.Core.LicManager, Terrasoft.Core" />
      <manager scope="user" name="ProfileManager" type="Terrasoft.Core.Profiles.ProfileManager, Terrasoft.Core" />
      <manager scope="user" name="DBMetaActionManager" type="Terrasoft.Core.DB.DBMetaActionManager, Terrasoft.Core" />
      <manager scope="app" name="ProcessSchemaElementManager" type="Terrasoft.Core.Process.ProcessSchemaElementManager, Terrasoft.Core" />
    </managers>
    <schemaManagers>
      <manager name="EntitySchemaManager" type="Terrasoft.Core.Entities.EntitySchemaManager, Terrasoft.Core" compileDependencies="ValueListSchemaManager,SourceCodeSchemaManager,ProcessUserTaskSchemaManager" />
      <manager name="ProcessUserTaskSchemaManager" type="Terrasoft.Core.Process.ProcessUserTaskSchemaManager, Terrasoft.Core" compileDependencies="EntitySchemaManager,ValueListSchemaManager" />
      <manager name="ProcessSchemaManager" type="Terrasoft.Core.Process.ProcessSchemaManager, Terrasoft.Core" compileDependencies="EntitySchemaManager,ValueListSchemaManager,SourceCodeSchemaManager,ProcessUserTaskSchemaManager" />
      <manager name="DcmSchemaManager" type="Terrasoft.Core.DcmProcess.DcmSchemaManager, Terrasoft.Core" compileDependencies="" />
      <manager name="CampaignSchemaManager" type="Terrasoft.Core.Campaign.CampaignSchemaManager, Terrasoft.Core" compileDependencies="" />
      <manager name="PageSchemaManager" type="Terrasoft.UI.WebControls.PageSchemaManager, Terrasoft.UI.WebControls" compileDependencies="ImageListSchemaManager" />
      <manager name="ImageListSchemaManager" type="Terrasoft.Core.ImageListSchemaManager, Terrasoft.Core" compileDependencies="EntitySchemaManager,ValueListSchemaManager,SourceCodeSchemaManager,ProcessUserTaskSchemaManager" />
      <manager name="ReportSchemaManager" type="Terrasoft.Reports.ReportSchemaManager, Terrasoft.Reports" compileDependencies="EntitySchemaManager,ValueListSchemaManager,SourceCodeSchemaManager,ProcessUserTaskSchemaManager" />
      <manager name="SourceCodeSchemaManager" type="Terrasoft.Core.SourceCodeSchemaManager, Terrasoft.Core" compileDependencies="EntitySchemaManager,ValueListSchemaManager,ProcessUserTaskSchemaManager,PageSchemaManager,ProcessSchemaManager" />
      <manager name="ValueListSchemaManager" type="Terrasoft.Core.ValueListSchemaManager, Terrasoft.Core" compileDependencies="EntitySchemaManager,SourceCodeSchemaManager,ProcessUserTaskSchemaManager" />
      <manager name="ClientUnitSchemaManager" type="Terrasoft.Core.ClientUnitSchemaManager, Terrasoft.Core" compileDependencies="" />
    </schemaManagers>
    <storeDataAdapters>
      <storeAdapter levelName="Request" type="Terrasoft.Core.Store.ConcurrentDictionaryAdapter, Terrasoft.Core" />
      <storeAdapter levelName="Session" type="Terrasoft.Core.Store.ConcurrentDictionaryAdapter, Terrasoft.Core" />
    </storeDataAdapters>
    <storeCacheAdapters>
      <storeAdapter levelName="Session" type="Terrasoft.Core.Store.ConcurrentDictionaryAdapter, Terrasoft.Core">
      </storeAdapter>
      <storeAdapter levelName="Workspace" type="Terrasoft.Core.Store.ConcurrentDictionaryAdapter, Terrasoft.Core">
      </storeAdapter>
      <storeAdapter levelName="Application" type="Terrasoft.Core.Store.ConcurrentDictionaryAdapter, Terrasoft.Core">
      </storeAdapter>
    </storeCacheAdapters>
    <db>
      <general securityEngineType="Terrasoft.DB.MSSql.MSSqlSecurityEngine, Terrasoft.DB.MSSql" executorType="Terrasoft.DB.MSSql.MSSqlExecutor, Terrasoft.DB.MSSql" engineType="Terrasoft.DB.MSSql.MSSqlEngine, Terrasoft.DB.MSSql" metaEngineType="Terrasoft.DB.MSSql.MSSqlMetaEngine, Terrasoft.DB.MSSql" metaScriptType="Terrasoft.DB.MSSql.MSSqlMetaScript, Terrasoft.DB.MSSql" typeConverterType="Terrasoft.DB.MSSql.MSSqlTypeConverter, Terrasoft.DB.MSSql" connectionStringName="mssqlUnitTest" binaryPackageSize="1048576" currentSchemaName="dbo" />
    </db>
    <fileDesignMode enabled="false" />
  </terrasoft>
  <connectionStrings>
    <add name="mssqlUnitTest" connectionString="Data Source=work-ms-02\mssql2016; Initial Catalog=Work_RBazarov_UnitTests; Persist Security Info=True; MultipleActiveResultSets=True; Integrated Security=SSPI; Pooling = true; Max Pool Size = 250; Async = true; Connection Timeout=500" />
  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Facebook" publicKeyToken="58cb4f2111d1e6de" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.10.0" newVersion="6.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.6.0" newVersion="1.4.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>