<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.1.1" targetFramework="net472" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="CreatioSDK" version="8.1.0.6716" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.Win32.Primitives" version="4.0.1" targetFramework="net472" />
  <package id="NSubstitute" version="4.2.2" targetFramework="net472" />
  <package id="NUnit" version="3.5.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.0.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="creatio.client" version="1.0.24" targetFramework="net472" />
</packages>